.main-container {
    height: auto;
    min-width: 600px;
    max-width: 40vw;
    min-height: 300px;
    margin: 20vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 54px 55px, rgba(0, 0, 0, 0.32) 0px -12px 30px, rgba(0, 0, 0, 0.32) 0px 4px 6px, rgba(0, 0, 0, 0.37) 0px 12px 13px, rgba(0, 0, 0, 0.29) 0px -3px 5px;
    font-family: "Raleway", sans-serif;

    &-description {
        margin: 10px;
        font-size: 16px;
        font-weight: 600;
    }
}

@media (max-width: 600px) {
    .main-container {
        min-width: 80%;
    }
}

@media (max-width: 300px) {
    .main-container {
        min-width: 100%;
    }
}