.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: url('../src/assets/books.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &-game-name {
    text-align: right;
    font-size: 14px;
    opacity: 0.5;
  }
}